.heading {
    margin-left: 50px;
}

.title {
    width: 50%;
    float: left;
    color: #FFFFFF;
}

.sport-selection {
    width: 40%;
    float: left;
}

#topNewsItemsDiv {
    padding: 0px;
    width: 50%;
    display: block;
    margin-top: 10px;
}

#topNewsItems {
    padding: 0px;
}